[Unit]
Description=Grafana docker image self restart
Requires=docker.service
After= docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/home/ubuntu/docker_automation_test
ExecStart=/usr/bin/docker compose up -d
RemainAfterExit=yes
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target