global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s
alerting:
  alertmanagers:
    - static_configs:
      - targets: []
      scheme: http
      timeout: 10s

scrape_configs:
  - job_name: prometheus_2
    honor_timestamps: true
    scrape_interval: 15s
    scrape_timeout: 10s
    metrics_path: /metrics
    scheme: http
    static_configs:
      - targets:
        - 0.0.0.0:9090
  - job_name: monitor_hardware # Change to whatever you like
    static_configs:
      - targets: ['172.25.0.4:9100']
  - job_name: monitor_hardware_gitlab # Change to whatever you like
    static_configs:
      - targets: ['192.168.1.32:9101']
  - job_name: monitor_hardware_nginx # Change to whatever you like
    static_configs:
      - targets: ['192.168.1.30:9101']
